/* ---------------------------------------------------------
CSS RESET ------------------------------------*/

*,
*::after,
*::before {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  list-style: none;
  text-decoration: none;
  border: none;
}





/* ---------------------------------------------------------
BASIC STYLE ------------------------------------*/

html {
  height: 100%;
}

body {
  width: 100%;
  height: 100%;
  background: linear-gradient(to bottom, #0d1321, #1d2d44);
  background-attachment: fixed;  /* A background-image that will not scroll with the page (fixed). So it won't repeat on different size of height */  
  font-family: "lato", sans-serif;
}






/* ---------------------------------------------------------
MAIN HEADER ------------------------------------*/

.main-header {
  width: 100%;
  text-align: center;
  padding: 1em;
  margin-bottom: 2rem;
  background-color: #5c4d7d;
  color: rgb(231, 231, 231);
  box-shadow: 0 2px 25px #b498f163 inset;
}

.header-greeting {
  text-transform: uppercase;
  font-weight: 900;
  margin: .8em 0 .2em 0;
}

/* Bigger Screen */

@media (min-width: 48rem) {

  .main-header {
    padding: 2em;
  }
  
  .header-greeting {
    font-size: 3rem;
  }
}





/* ---------------------------------------------------------
BACKDROP ------------------------------------*/

#backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: linear-gradient(to bottom, #1d2d44b1, #1c0d21d7) ;
  display: none;
}





/* ---------------------------------------------------------
OVERLAY INPUT FIELD ------------------------------------*/

.overlay-input-field {
  width: 90%;
  position: fixed;
  top: 20rem;
  left: 5%;
  text-align: center;
  padding: 1em;
  background-color: #f5f3f4;
  border-radius: 10px;
  box-shadow: 5px 8px 15px rgba(0, 0, 0, 0.4), 
  0 2px 25px #22222248 inset;
  display: none;
}

.overlay-title {
  margin-bottom: 1em;
}

.overlay-input-field label {
  display: block;
  font-size: 1.2rem;
  margin: .3em 0;
}

.input-field-container input {
  font-family: inherit;
  font-size: 1.2rem;
  text-transform: capitalize;
  background-color: #1d2d44;
  color: rgb(231, 231, 231);
  border-radius: 4px;
}

.error label {
  color: rgb(255, 0, 119);
}

.error input {
  background-color: rgb(248, 98, 130);
}

#errors-output {
  font-size: 1.2rem;
  margin-top: .5em;
  color: rgb(255, 0, 119);
}

button {
  font-size: 1rem;
  margin: .5em .5em 0 .5em;
  padding: .6em 1.8em;
  font-family: inherit;
  background-color: transparent;
  color: #997fd3;;
  border-radius: 10px;
  cursor: pointer;
  transition: all .3s ease-in-out;
}

button:hover {
  background-color: #413364;
  text-shadow: 2px 2px 25px rgba(194, 119, 255, 0.885);
}

/* Button With Background */ 
.btn {
  background-color: #5c4d7d;
  color: rgb(231, 231, 231);
  transition: all .3s ease-in-out;
}

.btn:hover,
.btn:focus {
  background-color: #413364;
}

/* Bigger Screen */

@media (min-width: 48rem) {
  
  .overlay-input-field {
    width: 40rem;
    left: calc(50% - 20rem);
    padding: 2em;
  }

  .input-field-container input {
    font-size: 1.5rem;
  }

  button {
    font-size: 1.3rem;
    margin: 1em 1em 0 1em;
  }
}





/* ---------------------------------------------------------
GAME CONFIGURATION ------------------------------------*/

.game-configuration {
  max-width: 48rem;
  font-size: clamp(1.2rem, 5vw, 1.6rem);
  text-align: center;
  margin: 2em auto;
  color: rgb(231, 231, 231);
}

.players-data {
  display: flex;
  justify-content: space-evenly;
  margin-bottom: 1em;
}

.players-data li {
  padding: 1em;
  box-shadow: 3px 3px 25px rgba(10, 5, 24, 0.4);
  border: 2px solid #5c4d7d;
  border-radius: 4px;
}

.players-name-label {
  font-size: clamp(1rem, 5vw, 1.4rem);
  margin-bottom: .5em;
}

.players-name {
  margin-bottom: .5em;
  text-transform: capitalize;
  color: #997fd3;
}

.player-symbol {
  font-size: clamp(1.5rem, 5vw, 2.5rem);
  font-weight: 900;
  -webkit-text-stroke: 1px rgb(119, 9, 123);
  text-shadow: 2px 2px 25px rgba(194, 119, 255, 0.885);
}

.player-name-edit-btn {
  font-size: 1.3rem;
}

.start-btn {
  width: 8.5em;
  height: 8.5em;
  padding: 0;
  border-radius: 100px;
  box-shadow: 2px 2px 35px rgba(193, 118, 255, 0.3);
}

/* Very Small Screen */

@media (max-width: 22rem) {

  .game-configuration {
    font-size: 1rem;
  }

  .players-data li {
    padding: 1em 0;
  }

}





/* ---------------------------------------------------------
ACTIVE GAME FIELD ------------------------------------*/

/* Game End Info */
.game-play-field {
  width: 90%;
  max-width: 48rem;
  text-align: center;
  margin: 2em auto;
  opacity: 0;
  transform: translateY(15%);
  transition: all .4s ease-out;
  display: none; /* change the value with javaScript */
}

.game-play-field.show { /* add this class by javaScript to start transition */
  opacity: 1;
  transform: translateY(0); 
}

.game-end-info {
  font-size: clamp(1rem, 5vw, 1.3rem);
  padding: 1em;
  background-color: #5c4d7d;
  color: rgb(231, 231, 231);
  box-shadow: 0 2px 25px #b498f163 inset;
  border-radius: 6px;
  box-shadow: 3px 3px 25px rgba(10, 5, 24, 0.4);
  display: none;
}

.game-end-info h3 {
  margin-bottom: 1em;
}

.winner-name {
  font-size: clamp(1.3rem, 5vw, 1.8rem);
}

.new-game-text {
  font-size: clamp(.8rem, 5vw, 1rem);
}

/* Game Field */
.display-active-player {
  font-size: clamp(1rem, 5vw, 1.4rem);
  margin: 1rem 0 2rem 0;
  text-transform: capitalize;
  color: rgb(231, 231, 231);
}

.active-player-name {
  color: #997fd3;
}

.game-filed-container-list {
  display: grid;
  grid-template-columns: repeat(3, 6rem);
  grid-template-rows: repeat(3, 6rem);
  justify-content: center;
  gap: .5em;
}

/* Very Small Screen */
@media (max-width: 300px) {
  
  .game-filed-container-list {
    grid-template-columns: repeat(3, 4rem);
    grid-template-rows: repeat(3, 4rem);
  }
}

.game-filed-container-list li {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 3.5rem;
  font-weight: 900;
  color: rgb(231, 231, 231);
  background-color: #5c4d7d;
  text-shadow: 2px 2px 15px rgba(194, 119, 255, 0.885);
  -webkit-text-stroke: 1px rgb(119, 9, 123);
  cursor: pointer;
}

.game-filed-container-list li:hover {
  background-color: #3a2467;
}

.game-filed-container-list li.disable {
  background-color: #3a2467 !important;  /* if the field has been already clicked, add the darker BG color as default! */
  cursor: default;
}